# Emergency-911 Calls Project

The dataset is taken from www.kaggle.com. The dataset contains data related to 911 calls due to Fire, Traffic or EMS emergency situation in Montgomery County, Pennsylvania. In this project, I analysed the this popular dataset in order to extract the  knowledge from the dataset. A description of the dataset is as follows:
lat         Latitude
lng         Longitude
desc        Description of Emergency
zip         ZIP Code
title       Title of Emergency
timeStamp   Date and time of the call
twp         Town
addr        Adress
e

## import libraries and read dataset from local directory

In [2]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#read and load dataset
df_911Emergency = pd.read_csv('911.csv')

In [7]:
#display the top 3 rows of the dataset
df_911Emergency.head(3)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1

In [8]:
#number of rows and columns
df_911Emergency.shape

(423909, 9)

In [12]:
#number of rows and columns and types of data(series)
df_911Emergency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423909 entries, 0 to 423908
Data columns (total 9 columns):
lat          423909 non-null float64
lng          423909 non-null float64
desc         423909 non-null object
zip          371780 non-null float64
title        423909 non-null object
timeStamp    423909 non-null object
twp          423750 non-null object
addr         423909 non-null object
e            423909 non-null int64
dtypes: float64(3), int64(1), object(5)
memory usage: 21.0+ MB

In [22]:
#number of null values
df_911Emergency.isnull().sum()

lat              0
lng              0
desc             0
zip          52129
title            0
timeStamp        0
twp            159
addr             0
e                0
dtype: int64

## Analyzing Dataset

### Most 3 zip codes from where to receive emergency calls

In [34]:
df_911Emergency['zip'].value_counts().head(3)

19401.0    28656
19464.0    27948
19403.0    21631
Name: zip, dtype: int64

### List of 3 zip codes from where to receive less emergency calls

In [35]:
df_911Emergency['zip'].value_counts().tail(3)

18902.0    1
18104.0    1
8065.0     1
Name: zip, dtype: int64

### Names of the towns which are top and bottom in the list of getting 911 calls

In [53]:
top_town = df_911Emergency['twp'].value_counts().head(1)
bottom_town = df_911Emergency['twp'].value_counts().tail(1)
print('Top = ', top_town)
print('Bottom = ', bottom_town)

Top =  LOWER MERION    36441
Name: twp, dtype: int64
Bottom =  LEHIGH COUNTY    95
Name: twp, dtype: int64

In [81]:
#percentage of calls for the top town against overall 911 calls
top_town = df_911Emergency['twp'].value_counts().head(1)
total_calls = len(df_911Emergency['twp'])
print('%0.2f' % (top_town[0]/total_calls * 100), '%')

8.60 %

In [86]:
#percentage of calls for bottm town
print('%0.2f' % (df_911Emergency['twp'].value_counts().tail(1)[0] / len(df_911Emergency['twp']) * 100),'%')

0.02 %